<form action="LoginToAdmin" method="post" >
    <p>
        <string>Login:</string>
        <input type="text" name="login" />
    </p>
    <p>
        <string>Pass:</string>
        <input type="password" name="pass" />
    </p>
    <input type="submit" value="Login" />
</form>