@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Search";
}


<link href="~/Styles/search.css" rel="stylesheet" />

<div id="list_search">
    <aside>
        <a href="" id="0" class="button button_search">
            <img src="Styles/images/friend.png" />
            <strong>Search friend. which suits me perfectly</strong>
        </a>
        <a href="" id="1" class="button button_search">
            <img src="Styles/images/girl.png" />
            <strong>search girls. which suits me perfectly</strong>
        </a>
        <a href="" id="2" class="button button_search">
            <img src="Styles/images/boy.png" />
            <strong>Search boys. which suits me perfectly</strong>
        </a>
    </aside>
    <div id="information">
        <div id="info_0" class="info">
            <div id="info_1" class="info">
                <div id="info_2" class="info">
                </div>
            </div>
        </div>
    </div>
</div>